<div class="container">
  <div class="row">
    <h2>Directive</h2>
  </div>
  <div class="row">
    <h3>Angular 4 Built In directive</h3>
    <app-ng-directive></app-ng-directive>
  </div>
  <div class="row">
    <h3>Custom Directive</h3>
    <app-custom-directive></app-custom-directive>
  </div>
</div>
